p {
    background-color: aqua;
}
h1 {
    color:red
}
#random {
    background-color: brown;

}

.css{
    background-color: green;
    color: white;
}

h4,h5 {
    background-color: rgb(236, 236, 238);
    color:black
}